@model Mvc8amAvengersTeam.Models.EmployeeModel
@{
    ViewBag.Title = "HtmlHelperExample";
}

<h2>HtmlHelperExample</h2>

<input type="type" name="name" value="" />
<input type="number" id="FirstName" name="FirstName" value="Sharang" style="background-color:skyblue" class="form-control" onclick="fun()" />
<br />
@Html.TextBox("LastName",null,new { @style = "background-color:gray", @class = "form-control",@type="file", @onclick = "fun()" })
@Html.TextBoxFor(s=>s.EmpName, new { @style = "background-color:gray", @class = "form-control", @onclick = "fun()" })


<input type="file" />

<br />
@Html.Password("pwd","Lion")
<br />
<span>java</span>@Html.CheckBox("java", true)
<span>Dotnet</span>@Html.CheckBox("Dotnet",true)

<br />
<span>Male</span>@Html.RadioButton("Gender","Male",true)
<span>Female</span>@Html.RadioButton("Gender", "Female")

<span>Country</span>
@Html.DropDownList("Country",new List<SelectListItem>() {

new SelectListItem {Text="India",Value="1" },
new SelectListItem {Text="Bangladesh",Value="2",Selected=true },
new SelectListItem {Text="sri lanka",Value="3" }


},"Select Country",new { @class = "form-control" })
<br />
@Html.DropDownList("Movie")<br />
@Html.DropDownList("mvb", (IEnumerable<SelectListItem>)ViewBag.Movie, "Select Movie")
@Html.DropDownListFor(s=>s.EmpName, (IEnumerable<SelectListItem>)ViewBag.Movie, "Select Movie")


<script>
    function fun()
    {

        alert('Hello World.....');
    }
</script>